# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-consoleUi-test/ACTUAL.TXT
text-consoleUi-test/EXPECTED-UNIX.TXT
